.slider-img {
  min-height: 700px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 800px;
  height: 400px;
}

.slide {
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.leftarrows {
  background-color: black;
  border: 5px solid black;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 50px;
  color: #ffffff;
  position: absolute;
  bottom: 400px;
  left: 70px;
  z-index: 3;
  font-size: 40px;
  opacity: 0.7;
}

.leftarrows:hover {
  opacity: 0.5;
}

.fa-angle-left {
  position: relative;
  bottom: 10px;
  left: 5px;
}

.rightarrows {
  background-color: black;
  border: 5px solid black;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 50px;
  color: #ffffff;
  position: absolute;
  bottom: 400px;
  right: 70px;
  z-index: 3;
  font-size: 40px;
  opacity: 0.7;
}

.rightarrows:hover {
  opacity: 0.5;
}

.fa-angle-right {
  position: relative;
  bottom: 10px;
  left: 5px;
}

.arhitecture {
  color: white;
  position: relative;
  bottom: 170px;
  font-size: 40px;
  left: 80px;
}

.work {
  text-align: center;
  width: 800px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work h2 {
  font-size: 40px;
}

.work p {
  font-size: 20px;
  color: #8a8a8a;
}

.work-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-item-cart {
  background-color: white;
  width: calc(100%/33);
  width: 350px;
  height: 450px;
  margin: 20px;
}

.work-item-cart img {
  width: 100%;
}

.place {
  color: #8a8a8a;
  font-size: 20px;
  margin-left: 10px;
}

.title {
  font-size: 30px;
}

.work-items {
  padding: 10px;
}

.cart-text {
  margin-top: 20px;
}

.image-cards {
  padding: 10px;
}

.slick-dots li.slick-dots button:before, .slick-dots li button:before {
  color: #b1b1b1;
  opacity: 1;
  font-size: 16px;
}

.slick-dots li.slick-active button {
  border-radius: 100%;
}

.slick-dots li.slick-active button:before {
  color: black;
}

::-moz-selection {
  background: #52D681;
  color: white;
}

::selection {
  background: #52D681;
  color: white;
}

.news-testimonials-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.news-testimonials-item {
  font-weight: 50;
}

.news {
  width: 600px;
}

.news h2 {
  text-align: start;
}

.date {
  color: #8a8a8a;
}

.manila-title {
  color: #52D681;
  font-size: 27px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.manila-title:hover {
  color: black;
}

.manila-text {
  font-size: 18px;
}

.manila::after {
  display: inline-block;
  content: "";
  border-top: 0.1px solid #969595;
  width: 500px;
  margin-top: 10px;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.testimonials {
  margin-left: 70px;
}

.comment {
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
}

.comment-writer {
  font-size: 18px;
  font-style: italic;
  color: #8a8a8a;
}

.button-more {
  -webkit-box-shadow: 1px 1px 10px;
          box-shadow: 1px 1px 10px;
  width: 150px;
  height: 50px;
}

.button-more button {
  background-color: #52D681;
  color: black;
  width: 150px;
  height: 50px;
  border: 0px solid transparent;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-more button:hover {
  color: white;
  border: 0px solid transparent;
}

.button-more button:active {
  border: 0px solid transparent;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  border-top: 1px solid #c7c7c7;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon {
  margin-right: 20px;
  font-size: 50px;
  color: #8a8a8a;
}

.learn-more {
  color: #52D681;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
}

.features-title {
  font-weight: 600;
}

.features-text {
  font-weight: 200;
}

.footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 300px;
  background-color: #262626;
}

.footer-up .footer-title {
  color: white;
  font-size: 30px;
}

.footer-up .footer-context {
  color: #8a8a8a;
}

ul {
  list-style: none;
}

.footer-up-items {
  padding-right: 60px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
}

.footer-up-items ul {
  position: relative;
  right: 30px;
}

.footer-down {
  height: 100px;
  background-color: #000000;
}

.footer-link {
  text-decoration: none;
  color: #52D681;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.beryllium {
  margin-left: 50px;
}

input {
  font-size: 25px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 50px;
}

.send-button {
  background-color: #52D681;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.footer-down {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8a8a8a;
}

.footer-down p {
  margin-top: 50px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 105px;
  padding-right: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .logo {
  font-weight: 700;
  margin-top: 50px;
  font-size: 25px;
  position: relative;
  left: 40px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pages .home {
  color: #000000 !important;
}

.pages-item {
  margin-right: 60px;
  margin-top: 60px;
  color: #8a8a8a;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.pages-item:hover {
  color: #000000;
}

.drop-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drop-div p {
  margin-right: 10px;
}

.drop-div .angle {
  margin-top: 2px;
}
