<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Beryllium</title>
</head>

<body>

    <!-- header start -->
    <header>
        <nav class="navbar" id="nav">
            <div class="logo">BERYLLIUM</div>
            <div class="pages">
                <div class="pages-item home">
                    <p>HOME</p>
                </div>
                <div class="pages-item">
                    <p>ABOUT</p>
                </div>
                <div class="pages-item drop-down">
                    <div class="drop-div">
                        <div class="drop">
                            <p class="services">
                                SERVICES
                            </p>
                            <div class="inner-dropdown">
                                <ul>
                                    <li>HTML5</li>
                                    <li>CSS3</li>
                                    <li>SASS</li>
                                    <li>JQUERRY</li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>

                        <i class="fa-solid fa-angle-down  angle"></i>

                    </div>
                </div>
                <div class="pages-item drop-down">
                    <div class="drop-div">
                        <div class="drop">
                            <p class="services">
                                DROPDOWN
                            </p>
                            <div class="inner-dropdown">
                                <ul>
                                    <li>eCommerce</li>
                                    <li>Branding</li>
                                    <li>API</li>
                                    <li>Contact</li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>

                        <i class="fa-solid fa-angle-down  angle"></i>

                    </div>
                </div>
                <div class="pages-item">
                    <p>PAGES</p>
                </div>
                <div class="pages-item">
                    <p>CONTACT</p>
                </div>
            </div>
        </nav>
    </header>
    <!-- header end -->
    @RenderBody()
    <!-- footer start -->
    <footer>
        <div class="footer-up">
            <div class="footer-up-items beryllium">
                <p class="footer-title">Beryllium</p>
                <p class="footer-context">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Phasellus placerat enim
                    et urna sagittis,
                    rhoncus euismod.
                </p>
            </div>
            <div class="footer-up-items">
                <p class="footer-title">Links</p>
                <ul>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">HOME</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">FEATURES</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">PRODUCTS</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">TESTIMONIAL</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">CONTACT</a></li>
                </ul>
            </div>
            <div class="footer-up-items">
                <p class="footer-title">Work</p>
                <ul>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">HOME</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">FEATURES</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">PRODUCTS</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">TESTIMONIAL</a></li>
                    <li><a class="footer-link" href="https://demos.freehtml5.co/beryllium/">CONTACT</a></li>
                </ul>
            </div>
            <div class="footer-up-items">
                <form action="#">
                    <input type="text" placeholder="Email" class="input">
                    <button type="submit" class="send-button">SEND</button>
                </form>
            </div>
        </div>
        <div class="footer-down">
            <p>© 2016 Free HTML5. All Rights Reserved.</p>
            <p>
                Designed by FreeHTML5.co Demo Images: Pixeden & Unsplash
            </p>
        </div>
        <div class="up-arrow">
            <a href="#nav">
                <div class="go-to-section">
                    <i class="fa-solid fa-arrow-up"></i>
                </div>
            </a>
        </div>


    </footer>
    <!-- footer end -->
    <!-- js scripts start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js">
    </script>
    <script src="~/assets/JS/main.js">
    </script>
    <!-- js scripts end -->
</body>

</html>
