.slider-img {
  min-height: 700px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 900px;
}
.slide{
  padding: 20px;
  box-sizing: border-box;
}
.leftarrows {
 background-color: #3a3a3a;
 border: 5px solid #3a3a3a;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 50px;
  color: #c7c7c7;
  position: absolute;
  bottom: 480px;
  left: 40px;
  z-index: 3;
  font-size: 40px;
  opacity: 0.9;
    &:hover{
    opacity: 0.5;
  }

}

.fa-angle-left{
position: relative;
bottom: 10px;
left: 5px;
}
.rightarrows {
 background-color: #3a3a3a;
 border: 5px solid #3a3a3a;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 50px;
  color: #c7c7c7;
  position: absolute;
  bottom: 480px;
right: 40px;
  z-index: 3;
  font-size: 40px;
  opacity: 0.9;
  &:hover{
    opacity: 0.5;
  }

}

.fa-angle-right{
position: relative;
bottom: 10px;
left: 5px;
}

.arhitecture{
color: rgb(255, 255, 255);
position: relative;
bottom: 130px;
font-size: 40px;
left: 30px;
}
.work{
  text-align: center;
 width: 800px;
 margin: auto;
  box-sizing: border-box;
  h2{
    font-size: 40px;
  }
  p{
     font-size: 20px;
     color: #8a8a8a;
  }
}
.work-items{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.work-item-cart{
  background-color: rgb(255, 255, 255);
  width: calc(100%/33);
  width: 350px;
  height: 450px;
margin: 20px;

img{
  width: 100%;
}
}
.place{
  color: #8a8a8a;
  font-size: 20px;
  margin-left: 10px;
}
.title{
  font-size: 30px;
}
.work-items{
  padding: 10px;
}
.cart-text{
margin-top: 20px;
}
.image-cards{
  padding: 10px;
}

	
	
	


	.slick-dots li.slick-dots button:before, .slick-dots li button:before {
    color: rgb(177, 177, 177);
    opacity: 1;
    font-size: 16px;
    
}
.slick-dots li.slick-active button {
  
    border-radius: 100%;
}
.slick-dots li.slick-active button:before {
    color: rgb(0, 0, 0);
}
// #slider .slick-dots {
  
//    margin-bottom: 70px;
// }
