
@{
    ViewData["Title"] = "Index";
}

<!-- main start -->
<main>
    <!-- SLider section start -->
    <section id="slider">
        <div class="slide">

            @foreach (var slide in Model.Slides)
            {
                <div>
                    <img class="slider-img" alt="slider image"
                         src="@slide.SlideUrl">
                </div>
            }

        </div>
        <p class="arhitecture">Arhitecture#1</p>
    </section>
    <!-- SLider section end -->
    <!-- work section start -->
    <section id="work">
        <div class="work">
            <h2>Work</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis,
                rhoncus euismod erat
                tincidunt. Donec tincidunt volutpat erat.
            </p>
        </div>

        <div class="work-items">
            <!-- work single item start -->

            @foreach (var work in Model.Works)
            {
                <div class="image-cards">
                    <div class="work-item-cart ">
                        <img src="@work.Image" alt="place image">
                        <p class="title cart-text">@work.Title</p>
                        <p class="place cart-text">@work.Location</p>
                    </div>
                </div>

            }

            <!-- work single item end -->
        </div>
    </section>
    <!-- work section end -->
    <!-- news section start -->
    <section id="news-testimonials">
        <div class="news-testimonials-div">
            <div class="news news-testimonials-item">
                <h2>News</h2>
                <div class="manila">
                    <p class="date">SEPTEMBER 10, 2016</p>
                    <p class="manila-title">
                        Manila Bridge Re-construction
                    </p>
                    <p class="manila-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus<br>
                        placerat enim et urna sagittis, rhoncus euismod...
                    </p>
                </div>
                <div class="manila">
                    <p class="date">SEPTEMBER 10, 2016</p>
                    <p class="manila-title">
                        Manila Bridge Re-construction
                    </p>
                    <p class="manila-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus<br>
                        placerat enim et urna sagittis, rhoncus euismod...
                    </p>
                </div>
                <div class="manila">
                    <p class="date">SEPTEMBER 10, 2016</p>
                    <p class="manila-title">
                        Manila Bridge Re-construction
                    </p>
                    <p class="manila-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus<br>
                        placerat enim et urna sagittis, rhoncus euismod...
                    </p>
                </div>
                <div class="button-more">
                    <button>MORE NEWS</button>
                </div>
            </div>
            <div class="testimonials news-testimonials-item">
                <h2>Testimonials</h2>

                <div class="comments">
                    <p class="comment">
                        <i>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                            placerat
                            enim et urna sagittis, rhoncus euismod erat
                            tincidunt. Donec tincidunt volutpat erat.“
                    </p></i>
                    <p class="comment-writer">— John Doe Dueller</p>
                </div>
                <div class="comments">
                    <p class="comment">
                        <i>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                            placerat
                            enim et urna sagittis, rhoncus euismod erat
                            tincidunt. Donec tincidunt volutpat erat.“
                    </p></i>
                    <p class="comment-writer">— John Doe Dueller</p>
                </div>
            </div>
        </div>
    </section>
    <!-- news section end -->
    <!-- features section start -->
    <section id="features">
        <div class="features">
            <div class="features-item ARCHITECT">
                <div class="icon"><i class="fa-regular fa-file-zipper"></i></div>
                <div class="features-text">
                    <p class="features-title">ARCHITECT</p>
                    <p class="features-text">
                        Lorem ipsum dolor sit ameteista, consectetur adipiscing is not
                        elitistaris.
                    </p>
                    <p class="learn-more">LEARN MORE</p>
                </div>
            </div>
            <div class="features-item ">
                <div class="icon"><i class="fa-solid fa-hammer"></i></i></div>
                <div class="features-text">
                    <p class="features-title">PLANNING</p>
                    <p class="features-text">
                        Lorem ipsum dolor sit ameteista, consectetur adipiscing is not
                        elitistaris.
                    </p>
                    <p class="learn-more">LEARN MORE</p>
                </div>
            </div>
            <div class="features-item ">
                <div class="icon"><i class="fa-solid fa-plug"></i></i></div>
                <div class="features-text">
                    <p class="features-title">PARKS & EVENTS</p>
                    <p class="features-text">
                        Lorem ipsum dolor sit ameteista, consectetur adipiscing is not
                        elitistaris.
                    </p>
                    <p class="learn-more">LEARN MORE</p>
                </div>
            </div>
        </div>
    </section>
    <!-- features section end -->
</main>
<!-- main end -->
